[init]
	defaultBranch = main
[user]
	email = stockkrishgupta@gmail.com
	name = Krish
[push]
	autoSetupRemote = true
[alias]
	a = add
	aa = add .
	au = restore --staged

	s = status -s
	sl = status
	su = status -u

	pb = pull --rebase
	pf = pull --ff
	pu = push

	b = branch
	bc = checkout
	bn = checkout -b
	bd = checkout -D
	bt = checkout -t
	ba = branch -a 
	bup = branch --set-upstream-to

	c = commit -m
	ce = commit --amend
	ca = commit --amend --no-edit	

	conf = config --global --edit

	res = reset HEAD
	di = diff HEAD

	mg = merge
	mr = merge --rebase
	mf = merge --ff-only
	mnc = merge --no-commit --no-ff

	rb = rebase
	rbq = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip

	i = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

[core]
	editor = nvim
	pager = git-split-diffs --color | less -RFX

[credential]
	helper = store
